
h1 {
  font-size: 4rem;
  font-size: clamp(16px, 12vw, 64px);
  line-height: 4rem;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}


a {
  text-decoration: none;
  color: black;
  color: var(--q-color-black);
}

html a {

  &:not(.q-item,.q-btn) {
    color: #438a9a;
    font-weight: 900;
  }
}

.q-field {
  font-size: 16px;
}

.code {
  white-space: pre-wrap;
  font-family: consolas;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
  max-height: 25vh;
  overflow: scroll;
}

button {

  &.close {
    cursor: pointer;
  }
}
