
// Print
@media print {
    .page-break	{
        display: block;
        page-break-before: always;
    }
    @page {
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
}

// Coha Print Content
.coha--print {

    .element {

    }
}

// PRINT
@media print {
  // nav,
  // .v-application--wrap,
  // .q-toolbar{
  //     display: none !important;
  // }

  // .coha--print,
  // .q-dialog__inner,
  // .q-dialog,
  // .q-dialog__inner--maximized>div
  //  {
  //     position: inherit;
  // }

}
